body{
  background: url(../images/galaxy-back.jpg) no-repeat center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

h1 {
  margin: 10%;
}
h2 {
  margin: 5%;
}

.btn {
  background: radial-gradient(#c33764, #1d2671);
  margin: 5%;
  width: 20%;
}
.modal-body {
  color: black;
}

.modal-title{
  color: black;
}
